<h3>Transfers table</h3>
<table>
  <tr>
    <th>id</th>
    <th>Category</th>
    <th>Sender Email</th>
    <th>Recipient Email</th>
    <th>Amount</th>
    <th>Created at</th>
  </tr>
  <%= render @transfers %>
</table>
